
	.projects-main {
	  
	    // Other styles
	    .page-header {
		display: grid;
		grid-template-columns: 1fr 6fr 5fr;
		.projects-page-content {
		    z-index:1;
		    grid-column: 2 / 3; 
		    h2 {
            font-size: 2.25rem;
		    }
		}
        }
        .pagination {
            text-align: right;
            font-size: 1.8rem;
            padding: 0rem 2rem 2rem 0rem;
        }
}
.title-flex {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    // position: relative;

}
.projects-title-container {
    display: flex;
    flex-direction: column;
    // @include tablet {
    //     width: 95%;
    // }
    @include desktop {
    height: 20rem;
    width: 35rem;
    margin-right: 1rem;
    }
    h2 {
        z-index: 5;
        font-size: 2.25rem;
        width: 19rem;
        position: relative;
    }
    p {
        margin: 0px;
        z-index: 5;
        padding-top: 1rem;
    }
 }

 .project-title-box1 {
    position: absolute;
    width: 10rem;
    height: 10rem;
    z-index: 2;
    background-color: $color__mint-1;
    top: 20px;
    left: 204px;
    @include desktop {
        top: -10px;
    left: 324px;
    }
}
.project-title-box2 {
    position: absolute;
    width: 4rem;
    height: 4rem;
    z-index: 2;
    background-color: $color__green-light-1;
    top: 120px;
    left: 184px;
    @include tablet {
        top: 116px;
        left: 375px;
    }
    @include desktop {
        top: 86px;
        left: 495px;
    }
}

.projects-article{
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    grid-template-rows: repeat(3, auto) .6rem repeat(6, auto);
    grid-column-gap: 4%;
    position: relative;
    padding: 3rem 1rem 0rem 1rem;
    @include desktop {
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(4, auto) .6rem repeat(5, auto);
    grid-column-gap: 1%;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    }
        // Background boxes for all templates
	    .background-green-box {
            grid-row: 1 / 2;
            grid-column: 1 / 3;
            width:10rem;
            height: 30rem;
            position: absolute;
            z-index: 1;
            background-color: $color__background-green;
            top: -30px;
            left: -19px;
            @include tablet {
                height: 30rem;
                width: 23rem;
            }
            @include desktop {
                width: 100%;
                height: 70rem;
                top: -400px;
                grid-row: 1 / 4;
                grid-column: 1 / 6;
                z-index: 1;
            }
          
            }
            .background-grey-box {
            position: absolute;
            z-index: 0;
            background-color: $color__background-grey;
            width: 100%;
            height: 35rem;
            grid-row: 2 / 5;
            grid-column: 1 / 13;
            @include tablet {
                height: 25rem;
            }
            @include desktop {
                height: 25rem;
            }
            }
    .workshop-order-number {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	@include desktop {
	    grid-column: 1 / 2;
	    grid-row: 3 / 4;
	}
	display: flex;
	flex-direction: column;
	justify-content: center;
	p {
	    font-size: 7.5rem;
	    text-align: center;
	    margin: 0;
	    font-weight: 900;
	    @include desktop {
		line-height: .5;
		margin: unset;
	    }
	}
    }
    .entry-header {
	grid-column: 1 / 4;
    grid-row: 2 / 3;
    z-index: 2;
    @include tablet {
    grid-column: 1 / 3;
    }
	@include desktop {
	    grid-column: 2 / 7;
	    grid-row: 3 / 4;
	}
	h2 {
        font-size: 2rem;
	    height: 100%;
        margin: 0;
        @include tablet {
            font-size: 3rem;   
        }
	    @include desktop {
		word-wrap: break-word;
		width: 100%;
		margin: 0;
		display: flex;
		flex-direction: column;
        justify-content: flex-end;
	    }
	    a {
		text-decoration: none;
		color: $color__text-main;
		line-height: 1;
	    }
	}
    }
       // Template for the workshop with owner

       .projects-title-image {
        grid-column: 2 / 4;
        grid-row: 4 / 9;
        z-index: 2;
        height: 11.25rem;
        @include tablet {
            grid-column: 2 / 3;
        }
        @include desktop {
            grid-column: 1 / 7;
            grid-row: 5 / 9;
            height: 19rem;
        }
        }
       .projects-secondary-image {
        display: none;
        @include tablet {
            display: grid;
            grid-column: 2 / 4;
            grid-row: 4 / 9;
            z-index: 2;
            background-position: center;
            background-size: cover;
            height: 19rem;
            grid-column: 3 / 4;
            grid-row: 1 / 9; 
        }
        @include desktop {
            grid-column: 8 / 13;
            grid-row: 1 /4;
            height: 19rem;
        }
        height: 11.25rem;
        background-position: center;
        background-size: cover;
        }
        .entry-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        grid-column: 1 / 4;
        grid-row: 10 / 11;
        padding:.5rem;
        z-index: 2;
        @include desktop {
            grid-column: 8/13;
            grid-row: 6 / 8;
        }
        .cta-button {
            text-decoration: none;
            text-align: center;
            font-weight: 700;
            color: white;
            background-color: $color__green-1;
            padding: .5rem;
            width: 70%;
            margin-bottom: 2rem;
        }
        }
        // Style for the boxes
        .dark-green-box {
        grid-column: 1 / 2;
        grid-row: 6 / 9;
        background-color: $color__green-1;
        z-index: 1;
        height: 6.3rem;
        width: 6.3rem;
        @include desktop {
            grid-column: 5 /7;
            grid-row: 1 / 3;
            height: 11rem;
            width: 11rem;
        }
        }
        .green-line {
        grid-column: 1 /  3;
        grid-row: 5 / 6;
        background-color: $color__green-1;
        height: .5rem;
        z-index: 2;
        @include desktop {
            grid-column: 2 / 10;
            grid-row: 6 / 7;
        }
        }
        .light-green-box {
        z-index: 3;
        grid-column: 1 / 2;
        grid-row: 6 / 9;
        margin-left: 7rem;
        width: 3rem;
        height: 3rem;
        background-color: $color__orange-1;
        @include tablet {
         
        }
        @include desktop {
            display: block;
            grid-column: 4 / 5;
            grid-row: 1;
            margin: 0px;
            width: 5.5rem;
            height: 5.5rem;
        }
        }
        .light-grey-box {
        grid-column: 1 / 4;
        grid-row: 5 / 11;
        background-color: $color__background-grey;
        z-index: -1;
        @include desktop {
            display: none;
        }
        }
    }

    .pagination {
        text-align: right;
        font-size: 1.5rem;
        padding: 0rem 0rem 2rem 0rem;
        .page-numbers {
            padding: 0rem 1rem;
            color: black;
            font-family: $font__main;
        }
        .current {
            border-bottom: 2px solid $color__green-1;
        }
    }